---
interface Props {
    id: number;
    title: string;
    image: string;
    description: string;
    url: string;
    btnText: string;
}

const { id, title, image, description, url, btnText } = Astro.props;
---

<div class="flex flex-col w-[16.563rem] rounded-md">
    <picture>
        <source srcset=`/img/${image}.webp` type="image/webp" />
        <source srcset=`/img/${image}.png` type="image/png" />
        <img
            loading="lazy"
            class="w-full h-40 rounded-t-md"
            src=`/img/${image}.webp`
            alt=`${title} image`
        />
    </picture>

    <section
        class="servicio-contenedor text-center flex flex-col items-center rounded-b-md"
    >
        <h4 class="font-bold text-xl my-5">{title}</h4>
        
        <button
            class="w-full bg-[#637558] hover:bg-[#4a6c34] text-white rounded-b-md p-2 font-semibold"
        >
            <a href=`${url}/${id}`>{btnText}</a>
        </button>
    </section>
</div>

